<div class="container" style="margin: 8rem auto 2rem">
    <p class="h2 text-center">Scorer | Forgot Password</p>

    <div class="row justify-content-center my-4">
        <div class="col-lg-4">
            <form [formGroup]="resetForm" (ngSubmit)="forgotPassword()">


                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control mb-3" id="email" name="email" autocomplete="off" formControlName="email" />

                <input type="submit" class="btn btn-block btn-primary w-100" value="Send OTP" [disabled]="resetForm.invalid" />
            </form>

            <div class="text-center mt-3">
                Already Have An Account? <a routerLink="/scorer/login">Login</a><br />
                <a href="" routerLink="">Home</a>
            </div>


            <form [formGroup]="otpCheckForm" (ngSubmit)="checkOTP()" *ngIf="flag">


                <label for="otp" class="form-label">OTP</label>
                <input type="text" class="form-control mb-3" id="otp" name="otp" autocomplete="off" formControlName="otp" />
                <p class="text-danger" *ngIf="status">Invalid OTP</p>
                <input type="submit" class="btn btn-block btn-primary w-100" value="Submit" [disabled]="otpCheckForm.invalid" />

            </form>

        </div>
    </div>
</div>